@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@layer utilities {
  .hero {
    background-image: url("./assets/header_bg.png");
    @apply min-h-screen
    bg-cover bg-center bg-no-repeat;
  }
}

@theme {
  --primary-color: #410097;
  --secondary-color: #B983FF;
  --font-sans: "Instrument Sans", sans-serif;
  --text-xl: 46px;
  --text-2xl: 60px;
  --text-md: 30px;
  --text-sm: 18px;
}

@layer base{
  html,
  body {
    font-family: var(--font-sans), sans-serif;
    @apply bg-white;
  }

  h1{
    font-size: var(--text-xl);
    @apply leading-tight tracking-tight font-semibold;
  }

  h2{
    font-size: var(--text-md);
    @apply leading-tight tracking-tight font-semibold;
  }

  h3{
    font-size: var(--text-sm);
    @apply leading-tight tracking-tight font-semibold;
  }

  p{
    font-size: var(--text-sm);
    @apply leading-tight tracking-tight font-normal text-center;
  }

  .navbar{
    font-size: var(--text-sm);
    background-color: var(--primary-color);
    font-family: var(--font-sans), sans-serif;
    @apply shadow-lg flex flex-wrap justify-between items-center px-4 py-4 leading-tight mx-10 my-6 text-white font-medium rounded-xl w-13/14;
  }

  .primary-button{
    @apply flex items-center justify-center gap-2

    bg-white text-black px-4 py-2
    font-semibold
    rounded-lg
    cursor-pointer
    transition delay-150 duration-300 ease-in-out hover:bg-gradient-to-br from-[var(--secondary-color)] to-white
    hover:shadow-[inset_0_2px_6px_rgba(255,255,255,0.4)]
    ;
  }

  .navbar-div{
    @apply flex justify-between flex-row w-1/10;
  }

  .hero{
    @apply flex flex-col items-center gap-20;
  }

  .container{
    @apply flex flex-col items-center justify-center px-10 w-full text-center gap-8;
  }


  .ctas{
    @apply flex flex-row items-center gap-10 m-10;
  }

  .button-1 {
    @apply inline-block p-[1.5px]
    rounded-[10px]
    bg-gradient-to-r from-[#9747FF] to-[var(--primary-color)]
    ;
  }



  .btn-in-1{
    /*background-color: var(--primary-color);*/
    @apply bg-gradient-to-r from-[var(--secondary-color)] to-[var(--primary-color)]
      text-white
      px-4
      py-2
      font-semibold
      rounded-[8.5px]
      cursor-pointer
      transition duration-150 hover:shadow-[inset_2px_1px_8px_rgba(255,255,255,0.4)]
    ;
  }

  .button-2{
    @apply inline-block p-[1.5px]
      rounded-[10px]
      p-[1.5px]
      bg-gradient-to-r from-[var(--primary-color)] to-[#150031];
  }

  .btn-in-2{
    @apply flex items-center justify-center gap-2 bg-purple-200 rounded-[8.5px]
    px-4
    py-2
    font-semibold
    cursor-pointer
    transition duration-150 hover:shadow-[inset_2px_1px_8px_rgba(159,90,253,0.4)]
    ;
    /*bg-gradient-to-r from-[var(--primary-color)] to-[#150031];*/
  }

  .about-bg{
    @apply bg-gradient-to-b from-white to-[#DDC3FF]
    py-20 px-60
    ;
  }

  .row{
    @apply flex flex-col items-center gap-10 m-6;
  }

  .how-it-works{
    @apply p-10 mt-20 mb-8;
  }

  .hiw-container{
    @apply flex flex-row items-center justify-evenly gap-10 m-auto
    ;
  }

  .hiw-h1{
    font-size: var(--text-2xl);
    @apply font-normal
      bg-gradient-to-r
      from-[var(--primary-color)]
      via-[#150031]
      to-[var(--primary-color)]
      bg-clip-text text-transparent;
  }

  .ptrs-container{
    @apply flex flex-col items-start m-6;
  }

  .ptr{
    @apply flex flex-row items-center gap-4 m-4;
  }

  footer{
    @apply bg-[var(--primary-color)] w-full h-full m-0 p-8;
  }

  .footer-container{
    font-size: var(--text-sm);
    @apply flex flex-col items-center text-white w-full gap-6;
  }

  .details-container{
    @apply flex flex-row items-center justify-between w-1/2 px-20;
  }

  .links{
    @apply flex items-center justify-between;
  }

  .links a{
    @apply mx-1;
  }

  .socials{
    @apply flex flex-row items-center justify-between mx-3;
  }

  .socials img{
    @apply object-cover object-center mx-1;
  }

  .todo-container{
    font-size: var(--text-sm);
    @apply flex flex-col items-center justify-evenly gap-6 m-20
    ;
  }

  form{
    @apply flex flex-row items-center justify-between gap-6 mt-10 mb-6
    w-full;
  }

  .input-text{
    @apply block w-full px-4 py-2 bg-white text-black
    border border-gray-300           /* Border style and color */
    rounded-lg                       /* Rounded corners */
    focus:outline-none
    ;
  }

  form button{
    @apply block w-1/5 px-4 py-2 bg-(--primary-color) text-white
      border border-(--primary-color)
    rounded-lg
    font-semibold
    cursor-pointer
    ;

  }

  .todo-list{
    @apply flex flex-col items-center justify-evenly gap-2 m-6 w-1/2;
  }

  .todo-item{
    @apply flex flex-row items-center justify-between
    gap-6 pl-6 pr-6 py-4 w-6/7
    border-b-purple-300 rounded-lg
    bg-purple-200 hover:bg-purple-300 focus:outline-[var(--primary-color)];
  }

  .todo-item .checkbox{
    @apply h-5 w-5 bg-purple-50;
  }

  .todo-item .check-text{
    @apply flex flex-row items-center justify-between gap-2;
  }

}
